.monster-hp-bar-container{
    height: 25px;
    width: 70%;
    border: 1px solid var(--activeColor);
}

.monster-hp-bar{
    height: 100%;
}

.mobImg{
    object-fit: contain;
}

@media screen and (max-width: 768px) {


    .monster-hp-bar-container{
        height: 10px;
        width: 70%;
    }
}

