.BackImg{
    object-fit: contain;
}


@media screen and (max-width: 990px) {

    

    h5, p{
        font-size: 10px;
    }

}

@media screen and (max-width: 375px) {

    

    h5, p{
        font-size: 7px;
    }

}

