.Fight-background {
    height: 100vh;
}

.death-screen, .fight-screen {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    flex-direction: column;
}

.death-screen{
    background-color: rgb(109, 10, 10);
}
.fight-screen{
    background-color: rgb(28, 10, 109);
}



#fightButton{
    position: absolute;
    z-index: 5;
    left: 50px;
    top: 50px;
    width: 100px;
}

.notifications-container{
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fightSequence-button-container{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.fightSequence-button{
    width: 100px;
}


.notifications-container p{
    font-size: 30px;
}

.btn-outline-danger {
    --bs-btn-hover-bg: var(--bg--secondary);
  }


  @media screen and (max-width: 1200px) {

    h5, p{
        font-size: 10px;
    }

}

@media screen and (max-width: 375px) {

    h5, p{
        font-size: 7px;
    }

}