.coin{
    height: 20px;
    aspect-ratio: 1;
}



@media screen and (max-width: 768px) {

    .hp-bar-container{
        height: 10px;
    }

    .market-container span{
        font-size: 10px;
    }

    .coin{
        height: 12px;
    }
}

@media screen and (max-width: 375px) {

    .market-container span{
        font-size: 8px;
    }
    .coin{
        height: 8px;
    }

    .market-container th{
        padding: 2px;
    }

    
}

@media screen and (max-width: 1px) {

    .market-container span{
        font-size: 5px;
    }

}