.coin{
    height: 20px;
    aspect-ratio: 1;
}

@media screen and (max-width: 768px) {

    .hp-bar-container{
        height: 10px;
    }
}

@media screen and (max-width: 375px) {

    .hp-bar-container{
        height: 10px;
    }

    .market-container span{
        font-size: 10px;
    }

    .coin{
        height: 12px;
    }
}